<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.biggo.AndroidGMEPlayer"
      android:versionCode="4" android:versionName="0.5b">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".AndroidGMETabs" class=".AndroidGMETabs">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
        <activity android:name=".AndroidGMEPlayer" class=".AndroidGMEPlayer" android:label="@string/app_name" />
        <activity android:name=".AndroidGMEPlaylist" class=".AndroidGMEPlaylist" android:label="@string/app_name" />
        <activity android:name=".AndroidGMESettings" class=".AndroidGMESettings" android:label="@string/app_name" />
    	<service android:name="PlayerService"/>
	</application>
    <uses-sdk android:minSdkVersion="3" />
</manifest> 